﻿<link rel="stylesheet/less" type="text/css" href="http://kylestetz.github.io/CLNDR/css/clndr.less" />
<script src="http://kylestetz.github.io/CLNDR/js/less.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Calendario Admin | Triticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="color: #0094ff">Calendario</h2>

<div id="full-clndr" >
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="http://kylestetz.github.io/CLNDR/js/clndr.js"></script>

<script>
    function AjaxCall(uri, method, data) {
        return $.ajax({
            url: uri,
            type: method,
            dataType: 'json',
            contentType: 'application/json',
            data: data ? JSON.stringify(data) : null
        }).fail(function (jqXHR, status, error) {
            inst.error = error;
            console.log("jqXHR: " + jqXHR);
            console.log("Status: " + status);
            console.log("Error: " + error);
        })
    }
    function cargarCalendario() {
        AjaxCall("http://localhost:51978/api/Evento/Calendar", "get").done(function (response) {
            console.log(response)
            $('#full-clndr').clndr({
                template: $('#full-clndr-template').html(),
                events: [ { date: '2013-09-09', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' }],

                doneRendering: function () {
                    console.log('this would be a fine place to attach custom event handlers.');
                },
                forceSixRows: true
            });
        })
    }
    cargarCalendario()
</script>