﻿@{
    ViewBag.Title = "Graficas Y Reporte | Triticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
   <h2 style="padding: 20px 40%; background: rgba(8, 180, 182, 0.78); color: #fff;">Grafica</h2>
    <div class="row">
        <canvas id="graficaData">
        </canvas>
    </div>
   <h2 style="padding: 20px 40%; background: rgba(182, 8, 85, 0.78); color: #fff;">Datos</h2>
    <div class="row" >
        <table class="table table-hover table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Evento</th>
                    <th>Cantidad Vendidos</th>
                </tr>
            </thead>
            <tbody id="TablaReporte">
               
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/ChartJS")

