﻿@Scripts.Render("~/bundles/AdminJS")
    @{
        ViewBag.Title = "Bienvenido Administrador | Triticket";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var nameUser = Request.Cookies["UNA"].Value.ToString();
    }

<div>

<div class="col-md-9"  style="float: right">

<div style="background: #609191; color: #fff; box-shadow: 5px 10px rgba(130, 130, 130, 0.34), 7px 5px rgba(130, 130, 130, 0.34); padding: 15px 0px; ">
    <h2 class="text-center">Buenos dias <strong>@nameUser</strong></h2>
    <div class="container">
        <div class="row">

            <div class="col-lg-6" style="font-family: 'Love Ya Like A Sister'; font-weight: lighter; font-size: 1.6em; list-style-type: none">
                <ul class="list-inline">
                    <li>Administra</li>
                    <li>Disfruta</li>
                    <li>Diviertete</li>
                </ul>
            </div>
            <div class="col-lg-6" style=" font-weight: lighter ;font-size: 2em;border: solid 2px #fff;background: url('../../Resources/SaludoUsuarios.jpg');background-repeat:repeat;padding: 50px 20%;border-radius: 3px;color: rgb(255, 255, 255);font-weight: bold;text-shadow: 7px 18px rgba(0,0,0,0.15);">
            TriTicket
            </div>
        </div>
    </div>

</div>
<div style="background: url('../../Resources/MosaicoNegro.jpg');color: #fff; background-attachment: fixed; min-height: 150px; background-position: center;padding: 65px 0px; margin: 20px 0px;">
    <h3 style="font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Eventos disponibles c: </h3>
</div>
<div class="container-fluid" data-bind="foreach: eventos">
    <div class="cajaPromos">
        <div class="cajaIMG">
            <img style="margin: 3px 10px;height: 220px;" src="https://tickera-wpsalad.netdna-ssl.com/wp-content/themes/tickera/style/img/freebies/icons/events/4.png?x34982" alt="ticket" />
        </div>
        <div class="cajaTEXT">
            <h2 style="color: #1565C0; margin: 9px;" data-bind="text: NombreEvento"></h2>
            <p data-bind="text: Descripcion"></p>
            <h5 >Precio: <span data-bind="text: Precio"></span></h5>
            <h5>Lugar: <span data-bind="text: Lugar"></span></h5>
            <button class="btn btn-outline-info btn-sm">Detalles <i class="fa fa-list" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<div style="background: url('../../Resources/MosaicoPacman.jpg');color: rgba(71, 17, 229, 0.82); background-attachment: fixed; min-height: 150px; background-position: center;padding: 65px 0px; margin: 20px 0px;">
    <h3 style="font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Usuarios c: </h3>
</div>
<div class="container-fluid" >
   <div class="row"  style="width: 95%; margin: auto; margin-top: 10px;" data-bind="foreach: usuarios">
    <div class="cajaTickets" >
        <img src="~/Resources/userDefault.jpg" alt="UsuarioFlat">
        <div class="cajaText">
            <h4>Nombre: <span data-bind="text: Nombre"></span></h4>
            <h5>Edad: <span data-bind="text: Edad"></span></h5>
            <h5>Telefono: <span data-bind="text: Telefono"></span></h5>
            <h5>Tipo: <span data-bind="text: RolId"></span></h5>
        </div>
        <div class="cajaBUser">
            <a href="#" data-toggle="modal" data-target="#detaUSMO" data-bind="click: $root.cargarUsers">Detalles</a>
            <a href="#" data-toggle="modal" data-target="#edUserMO" data-bind="click: $root.cargarUsers">Editar</a>
            <a href="#" data-toggle="modal" data-target="#UserELMO" data-bind="click: $root.cargarUsers">Eliminar</a>
        </div>
    </div>
   </div>
</div>

<div style="background: url('../../Resources/MosaicoAzulRojo.jpg');color: rgba(211, 0, 206, 0.74); background-attachment: fixed; min-height: 150px; background-position: center;padding: 65px 0px; margin: 20px 0px;">
    <h3 style="font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Ventas del Dia c: (<span data-bind="text: date"></span>)</h3>
</div>
<div class="container-fluid" >
    <table class="table table-hover table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Fecha Y Hora</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ventas">
            <tr>
                <th data-bind="text: VentaId"></th>
                <th data-bind="text: Fecha"></th>
                <th data-bind="text: TotalVenta"></th>
            </tr>
        </tbody>
    </table>
</div>


<div style="background: url('../../Resources/MosaicoAzulRojo.jpg');color: rgba(0, 28, 211, 0.74); background-attachment: fixed; min-height: 150px; background-position: center;padding: 65px 0px; margin: 20px 0px;">
    <h3 style="font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Explorar por Usuario</h3>
</div>
<div class="container-fluid">
    <div class="form-inline"><select class="form-control" data-bind="value: USSID, options: usuarios, optionsText: 'Nombre'"></select><button class="btn btn-outline-primary" data-bind="click:  $root.cambioTablaUser">Buscar</button></div>
    <table class="table table-hover table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Nombre Del Evento</th>
                <th>Precio</th>
                <th>Fecha Y Hora</th>
                <th>Existencias</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: eventofroUser">
            <tr>
                <th data-bind="text: EventoId"></th>
                <th data-bind="text: NombreEvento"></th>
                <th data-bind="text: Precio"></th>
                <th data-bind="text: FechaEvento"></th>
                <th data-bind="text: Existencias"></th>
            </tr>
        </tbody>
    </table>
</div>
</div>
    <div class="col-md-3" style="float: right">
        <h3 style="font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Eventos Recientes (Primeros 6)</h3>

            <div data-bind="foreach: eventosRecect">
                <div style="width:100%; background: rgba(128, 128, 128, 0.41);">
                    <h5>Titulo: <span data-bind="text: NombreEvento"></span></h5>
                    <p>Fecha y Hora: <span data-bind="text: FechaEvento"></span></p>
                    <p>Precio: <span data-bind="text: Precio"></span></p>
                    <p>Dispo: <span data-bind="text: Existencias"></span></p>
                </div>
            </div>
       
    </div>
</div>
<div class="clearfix"></div>
@{ Html.RenderPartial("~/Views/Shared/editarUsuario.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/eliminarUsuario.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/detalleUsuario.cshtml");  }