﻿
@Scripts.Render("~/bundles/UsuarioJS")
@model IEnumerable<Tickets.Models.Usuario>

@{
    ViewBag.Title = "Bienvenido | Triticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nameUser = Request.Cookies["UNA"].Value.ToString();
    nameUser= System.Web.HttpUtility.UrlEncode(nameUser);
}


<div  style="background: #0277bd; color: #fff; box-shadow: 5px 10px rgba(130, 130, 130, 0.34), 7px 5px rgba(130, 130, 130, 0.34); padding: 15px 0px; ">
    <h2 class="text-center">Buenos dias <strong>@nameUser</strong></h2>
    <div class="container">
        <div class="row">

        <div class="col-lg-6" style="font-family: 'Love Ya Like A Sister'; font-weight: lighter; font-size: 1.6em; list-style-type: none">
            <ul class="list-inline">
                <li>Vende</li>
                <li>Disfruta</li>
                <li>Entretente</li>
            </ul>
        </div>
        <div class="col-lg-6" style="border: solid 2px #fff;background: url('../../Resources/SaludoUsuarios.jpg');background-repeat:repeat;padding: 50px 20%;border-radius: 3px;color: rgb(255, 255, 255);font-weight: bold;text-shadow: 7px 18px rgba(0,0,0,0.15);">
            <h2>TriTicket</h2>
        </div>
        </div>
    </div>
   
</div>
<div style="background: url('../../Resources/MosaicoParalax.jpg'); background-attachment: fixed; min-height: 150px; background-position: center; background-repeat: no-repeat; background-size: cover;padding: 65px 0px; margin: 20px 0px;">
    <h3 style="float: left;font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Tus eventos c: </h3>
    <div style="float: left;border-radius: 4px;background: rgba(76, 76, 76, 0.56);padding: 10px;margin: 10px 5px 8px 63%;color: #fff;width: 300px;font-weight: lighter;">
        <h5 style="float: left;margin: 3px 5px;">Agregar Nuevo Evento</h5>
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#agEventMO"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
    </div>
</div>
<div style="clear:both;"></div>
<div class="container-fluid">
    <div id="editCR"></div>
    <div class="row" data-bind="foreach: eventos">
        <div class="cajaPromos">
           <div class="cajaIMG">
              <img style="margin: 3px 10px;height: 220px;" src="https://tickera-wpsalad.netdna-ssl.com/wp-content/themes/tickera/style/img/freebies/icons/events/4.png?x34982" alt="ticket" />
           </div>
           <div class="cajaTEXT">
              <h2 style="color: #1565C0; margin: 9px;" data-bind="text: NombreEvento"></h2>
              <p data-bind="text: Descripcion"></p>
              <h5 style="float:left">Precio: </h5><h5 data-bind="text: Precio"></h5>
              <h5 style="float:left">Fecha y hora: </h5><h5 data-bind="text: FechaEvento"></h5>
              <h5 style="float:left">Lugar: </h5><h5 data-bind="text: Lugar"></h5>
              <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#edEventMO" data-bind="click: $root.cargarEve ">Modificar <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button class="btn btn-outline-danger btn-sm " data-toggle="modal" data-target="#elEventMO" data-bind="click: $root.cargarEve " >Borrar <i class="fa fa-trash" aria-hidden="true"></i></button>
               <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#perEventMO" data-bind="click: $root.CargarPersonal ">Ver Personal <i class="fa fa-user-circle-o" aria-hidden="true"></i></button>

           </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("~/Views/Shared/agregarEvento.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/editarEvento.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/eliminarEvento.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/editarUsuario.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/showEmpleados.cshtml");  }