﻿
@{
    ViewBag.Title = "Bienvenido | Triticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/AdminJS")

<div class="container-fluid">
        <div style="background: url('../../Resources/MosaicoNegroMarca.jpg'); background-attachment: fixed; min-height: 150px; background-position: center; background-repeat: no-repeat; background-size: cover;padding: 65px 0px; margin: 20px 0px;">
            <h3 style="float: left;font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Tipos de Eventos c: </h3>
            <div style="float: left;border-radius: 4px;background: rgba(76, 76, 76, 0.56);padding: 10px;margin: 10px 5px 8px 63%;color: #fff;width: 300px;font-weight: lighter;">
                <h5 style="float: left;margin: 3px 5px;">Tipos de Eventos</h5>
                <button class="btn btn-outline-info" data-toggle="modal" data-target="#TypeAGEMO"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Tipo del Evento</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: tiposEventos">
                <tr>
                    <td data-bind="text: TipoEventoId"></td>
                    <td data-bind="text: TipoE"></td>
                    <td>
                        <button class="btn btn-outline-info" data-toggle="modal" data-target="#TypeEDMO" data-bind="click: $root.cargarTE">Editar</button>
                        <button class="btn btn-outline-info" data-toggle="modal" data-target="#TypeELMO" data-bind="click: $root.cargarTE">Eliminar</button></td>
                </tr>
            </tbody>
        </table>

        <div style="background: url('../../Resources/MosaicoColores.jpg'); background-attachment: fixed; min-height: 150px; background-position: center; background-repeat: no-repeat; background-size: cover;padding: 65px 0px; margin: 20px 0px;">
            <h3 style="float: left;font-size: 2.5em; text-shadow: 3px 4px rgba(176, 176, 176, 0.81); margin: auto;">Tipos de Pesonal para Eventos c: </h3>
            <div style="float: left;border-radius: 4px;background: rgba(76, 76, 76, 0.56);padding: 10px;margin: 10px 5px 8px 63%;color: #fff;width: 300px;font-weight: lighter;">
                <h5 style="float: left;margin: 3px 5px;">Agregar Tipos</h5>
                <button class="btn btn-outline-info" data-toggle="modal" data-target="#TypeAGMO"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Tipo de Personal</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: tipoPersonals">
                <tr>
                    <td data-bind="text: TipoPersonalId"></td>
                    <td data-bind="text: NombreTipoP"></td>
                    <td>
                    <button class="btn btn-outline-info" data-toggle="modal" data-target="#TypeEDMO" data-bind="click: $root.cargarTP">Editar</button>
                    <button class="btn btn-outline-info" data-toggle="modal" data-target="#TypeELMO" data-bind="click: $root.cargarTP">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
@{ 
    Html.RenderPartial("~/Views/Shared/editarType.cshtml");
    Html.RenderPartial("~/Views/Shared/agregarTE.cshtml");
    Html.RenderPartial("~/Views/Shared/agregarType.cshtml");
    Html.RenderPartial("~/Views/Shared/eliminarTP.cshtml");
}
