﻿@model Tickets.Models.Evento
@Scripts.Render("~/bundles/global")
@{
    ViewBag.Title = @Model.NombreEvento+" | Triticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="width: 85%; margin: auto">
        <img src="https://tickera-wpsalad.netdna-ssl.com/wp-content/themes/tickera/style/img/freebies/icons/events/6.png?x34982" alt="TicketImagen" style="margin: auto" />
        <div style="width: 90%; margin:auto">
        <input type="hidden" id="idEventCO" value="@Model.EventoId" />
        <h2 style="margin: 10px" class="text-center">@Model.NombreEvento</h2>
            <h5>Fecha y Hora: @Model.FechaEvento</h5>
            <h5>Lugar: @Model.Lugar</h5>
            <h5>Precio: @Model.Precio</h5>
            <h5>Tipo de Evento: @Model.TipoEvento.TipoE</h5>
            <h5>Fecha y Hora: @Model.FechaEvento</h5>
            <h5>Tickets Disponibles: @Model.Existencias</h5>
            @if (Model.Promociones > 0)
            {<h5 style="color: #0094ff">¡Tiene @Model.Promociones % de descuento!</h5> }
            <p>Detalles: @Model.Descripcion</p>
            <button class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#compraMO" style="margin: auto;" data-bind="click: $root.cargarEvento">Comprar <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        <div id="ventanaEventView"></div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("~/Views/Eventos/modalCompra.cshtml");}