﻿@model IEnumerable<Tickets.Models.Evento>
@using Tickets.Models
@Scripts.Render("~/bundles/global")
@{
    ViewBag.Title = "Busquedas | Triticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usted ha buscado por @ViewData["valueB"]</h2>

<div class="tab-content" style="width: 21%; margin: auto; margin-bottom: 15px;">
    <div class="tab-pane @ViewData["BusTX"] " id="textSearchEventos" role="tabpanel">
    <form action="Index" method="get">
        <input type="text" name="Busqueda" style="border-bottom: 2px solid #000; color:#3c3c3c" class="buscarInput" value="@ViewData["valueB"]" placeholder="Buscar" />
        <button type="submit" class="btn btn-outline-secondary "><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    </div>

    <div class="tab-pane @ViewData["BusID"]" id="catSearchEventos" role="tabpanel">
    <form action="Index" method="get">
        <select style="width: 70%; float: left; margin-right: 3px;" name="Busqueda" class="form-control" value="@ViewData["IDC"]">
            @foreach(TipoEvento tipoE in (List<TipoEvento>)ViewData["tiposE"] )
            {
                <option value="@Html.DisplayFor(modelItem => tipoE.TipoEventoId)">@Html.DisplayFor(modelItem => tipoE.TipoE)</option>
            }
        </select>
        <button type="submit" class="btn btn-outline-secondary "><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    </div>
</div>
<ul style="width: 10%; margin: auto" class="nav list" role="tablist">
    <li class="nav-item">
        <a class="nav-link  btn btn-outline-secondary btn-sm @ViewData["BusTX"]" data-toggle="tab" href="#textSearchEventos" role="tab">Por texto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary btn-sm  @ViewData["BusID"]" data-toggle="tab" href="#catSearchEventos" role="tab">Por Categoria</a>
    </li>
</ul>
<div class="container-fluid">
    
    <div class="row" style="width: 90%; margin: auto">
        @if (Model.Count() == 0)
        {
                <div style="background: #ebebeb; padding: 5px 15px; box-shadow: 6px 10px 25px -6px rgba(0,0,0,0.75); width: 90%">
                    <h2>Oh .-.</h2>
                    <p>Parece que no tenemos resultado para tu busqueda, intenta con otras palabras c:</p>
                </div>
            }
        @foreach (var item in Model)
        {
            <div style="background: #ebebeb; padding: 5px 35px; box-shadow: 6px 10px 25px -6px rgba(0,0,0,0.75); width: 90%">
                <div style="float: left; margin-right: 105px;">
                    <a href="DetalleEvento?ID=@Html.DisplayFor(modelItem => item.EventoId)"><h3>@Html.DisplayFor(modelItem => item.NombreEvento)</h3></a> 
                    <p>Fecha: @Html.DisplayFor(modelItem => item.FechaEvento)</p>
                    <p>Precio: @Html.DisplayFor(modelItem => item.Precio)</p>
                    <p>Lugar: @Html.DisplayFor(modelItem => item.Lugar)</p>
                </div>
                <div >
                    <p style="font-size: 1.4em">Detalles: @Html.DisplayFor(modelItem => item.Descripcion)</p>
                </div>
            </div>
        }
    </div>
</div>
@{ Html.RenderPartial("~/Views/Shared/loginModal.cshtml");  }
