﻿<div class="modal fade" id="compraMO" tabindex="-1" role="dialog" aria-labelledby="compraMO" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" >Comprar</h5>
                <button type="button" class="close" id="CloseCMModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-bind="submit: GenerarVenta">
                <div class="modal-body">
                    <div class="form-group">
                        <h2 class="text-center">Evento: <span data-bind="text: BoletaSE.NombreEvento"></span></h2>
                        <h4 class="text-center">Precio por boleto: <span data-bind="text: BoletaSE.Precio"></span></h4>
                        <input type="text" placeholder="Nombre Comprador" data-bind="value: BoletaSE.NombreComprador" class="form-control" style="margin: 4px 2px" />
                        <input type="tel" class="form-control" placeholder="NIT" data-bind="value: BoletaSE.NIT" style="margin: 4px 2px" />
                        <input type="tel" class="form-control" placeholder="Cantidad de boletas" data-bind="value: BoletaSE.CantidadVendidos" style="margin: 4px 2px" />
                        <h5 class="text-center">Total de Venta: <span data-bind="text: BoletaSE.Precio * BoletaSE.CantidadVendidos"></span></h5>
                        <button class="btn btn-outline-success" type="submit">Confirmar Compra</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>