@import url('https://fonts.googleapis.com/css?family=BenchNine|Raleway|Love+Ya+Like+A+Sister');

@keyframes animatetop {
	from{top:-300px;opacity:0} to{top:0;opacity:1}
}
footer {
    background: rgba(0, 0, 0, 0.78);
    color: #ededed;
    padding: 4px 10px;
}
.nav-page{
	font-family: 'BenchNine';
	width: 100%;
    height: 100%;
	position:fixed;
	display: none;
	z-index: 10;
	overflow: auto;
	text-align: center;
	background: #303030;
	animation:animatetop 0.4s;
}
.nav-page h3{
	margin: 10px;
	font-size: 2em;
}
.nav-body{
	padding: 10%;
}
.buttonNav{
	border: solid 2px #e3e3e3; 
	padding: 6px; 
	background: #e5e5e5; 
	border-radius: 4px; 
	font-size: 2em;
}
.buttonNav:hover{
    border: solid 1.5px #171717; 
    transition: 0.6s;
}
.header-ticket{
    background: #d1d1d1;
    font-weight: lighter;
    height: 50px;
    padding: 1px 0px 1px 50%;
    color: rgba(251, 58, 38, 0.83);
}

.header-ticket span {
    margin-left: 75%;
}
.header-ticket * {
    float:left;
}
@media (max-width: 690px) {
    .header-ticket{
        background: #d1d1d1;
        font-weight: lighter;
        height: 50px;
        padding: 1px 0px 1px 40%;
        color: rgba(251, 58, 38, 0.83);
    }
    .header-ticket span {
        margin-left: 60%;
    }
}
.cajaTickets{
    display:flex;
    flex-direction:column;
    font-size:16px;
    font-weight:400;
    min-height:200px;
    overflow:hidden;
    position:relative;
    z-index:1;
    background:#fff;
    border-radius:2px;
    box-sizing:border-box;
    box-shadow:0 10px 10px 0 rgba(7, 7, 7, 0.15),0 4px 2px -1px rgba(0, 0, 0, 0.24),0 2px 6px 0 rgba(0,0,0,0.24);
    width: 332px;
    margin: 8px 8px 4px 8px;
}
.cajaTickets img{
    width: 100%;
}
.cajaText {
    color:rgba(0,0,0,.54);
    font-size:1rem;
    line-height:18px;
    overflow:hidden;
    padding:16px;
    width:100%; 
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0, 0, 0, 0.08);
}
.cajaButton {
    font-size:16px;
    line-height:normal;
    width:100%;
    background-color:transparent;
    box-sizing:border-box;
    border-top:1px solid rgba(0, 0, 0, 0.12);
    color: #34a3f6;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}
.cajaButton a{
   text-decoration: none;
   border-radius:3px;
   padding: 3px 10px;
}
.cajaButton a:hover{
   background: rgba(63, 81, 181, 0.14);
   transition: 0.5s;
}
.cajaBUser a{
   text-decoration: none;
   border-radius:3px;
   padding: 6px;
   margin: 3px;
}
.cajaBUser a:hover{
   background: rgba(63, 81, 181, 0.14);
   transition: 0.5s;
}
.cajaTickets:hover{
    box-shadow:0 3px 3px 0 rgba(35, 35, 35, 0.22),0 4px 2px -1px rgba(34, 34, 34, 0.22),0 2px 6px 0 rgba(34, 34, 34, 0.24);
    transition: 0.4s;
}
.promicionBox {
    margin: 25px 0px 15px 0px;
    background: #304FFE;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
}
.cajaPromos {
    box-shadow:0 10px 10px 0 rgba(7, 7, 7, 0.15),0 4px 2px -1px rgba(0, 0, 0, 0.24),0 2px 6px 0 rgba(0,0,0,0.24);
    border: solid 1px rgba(134, 134, 134, 0.71);
    background: rgba(216, 216, 216, 0.66);
    height: 260px;
    width: 85%;
    margin: auto;
    margin-top:15px;
}
.cajaPromos .cajaIMG {
    float:left;
    background: rgba(216, 216, 216, 0.93);
    padding: 6px 3px;
    height: 260px;
    margin-right: 15px;
    width: 25%;
}
.cajaPromos .cajaTEXT {
   background-color: transparent;
    padding: 3px;
    width: 95%;
}
.buscarInput{
    background: rgba(0, 0, 0, 0.00);
    color: #fff;
    border: none;
    height: 2.4em;
    border-bottom: 2.5px solid #ffffff;
    border-radius: 3px;
    padding: 15px;
}

.buscarInput:focus{
    padding: 15px 35px;
    transition: 0.4s;
}