﻿@Scripts.Render("~/bundles/global")
@{ 
    if (Request.Cookies["UROI"] != null)
    {
        if (Request.Cookies["UROI"].Value.ToString().Equals("1"))
        {
            Response.Redirect("http://localhost:51978/Usuarios/IndexAdmin");
        }
        else
        {
            Response.Redirect("http://localhost:51978/Usuarios/Index");
        }
    }
}
<div class="container-fluid">
<div id="carouselExampleCaptions" style="height: 40em; margin: 0px 10% 0px 10%" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="http://4.bp.blogspot.com/_pUgPzDOf1L8/S6UNQRjnb6I/AAAAAAAAAgw/Ntq2bZwpR-8/s320/shutterisland_dicaprio.jpg" alt="" style="width: 90%; height: 40em;">
            <div class="carousel-caption d-none d-md-block">
                <h3>La isla siniestra</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                <button class="btn btn-outline-primary btn-sm">Comprar <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="http://abcblogs.abc.es/trasunbiombochino/files/seC3B1or-de-la-guerra-28Nicolas-Cage29.-Lions-Gate-Films.jpg" alt="" style="width: 90%; height: 40em;">
            <div class="carousel-caption d-none d-md-block">
                <h3>El señor de la Guerra</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="btn btn-outline-primary btn-sm">Comprar <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <div id="mostrarALERT"></div>
    <div class="row" style="width: 95%; margin: auto; margin-top: 10px;" data-bind="foreach: eventosBase">
          <div class="cajaTickets">
              <img src="~/Resources/logoT.png" alt="Buenos dias">
              <div class="cajaText">
                  <h4 data-bind="text: NombreEvento"></h4>
                  <p data-bind="text: Descripcion"></p>
                  <p data-bind="text: Lugar"></p>
                  <p data-bind="text: FechaEvento"></p>
              </div>
              <div class="cajaButton">
                  <a data-bind="attr: { href: 'Eventos/EventoView?id=' + EventoId}" >Ver Detalles</a>
              </div>
          </div>
    </div>
        <h2 class="promicionBox">Promociones</h2>
    <div class="row" data-bind="foreach: eventosPromo">
        <div class="cajaPromos">
            <div class="cajaIMG">
            <img style="margin: 3px 10px;height: 220px;" src="https://tickera-wpsalad.netdna-ssl.com/wp-content/themes/tickera/style/img/freebies/icons/events/4.png?x34982" alt="ticket" />
            </div>
            <div class="cajaTEXT">
                <h2 style="color: #1565C0; margin: 9px;" data-bind="text: NombreEvento"></h2>
                <p data-bind="text: Descripcion"></p>
                <h5>Precio: <span data-bind="text: Precio"></span></h5>
                <h5>Lugar: <span data-bind="text: Lugar"></span></h5>
                <a data-bind="attr: { href: 'Eventos/EventoView?id=' + EventoId}" class="btn btn-outline-success btn-sm">Detalles <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
@{ Html.RenderPartial("~/Views/Shared/loginModal.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/registrate.cshtml");  }