﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    @Scripts.Render("~/bundles/knockout")
</head>
<body>
    <header class="header-ticket">
        <a href="http://localhost:51978"><img src="~/Resources/logoTicket.png" style="width: 45px; height: 45px;" /><h4>TriTicket</h4></a>
        <span onclick="openMenu()" class="buttonNav"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </header>
    <nav class="nav-page" style="">
        <h3 class="text-center" style="color: #fff; padding-top: 10px;">Menu</h3>
        <a href="javascript:void(0)" onclick="closeMenu()" class="btn"><i style="font-size: 3em;" class="fa fa-chevron-left" aria-hidden="true"></i></a>
         <br />
        
        <div>
            <div class="tab-content">
                <div class="tab-pane active " id="textSearch" role="tabpanel"><form action="http://localhost:51978/Eventos/Index" method="get"><input type="text" name="Busqueda" class="buscarInput" placeholder="Buscar" /><button type="submit" class="btn btn-outline-secondary "><i class="fa fa-search" aria-hidden="true"></i></button></form> </div>
                <div class="tab-pane fade" id="catSearch" role="tabpanel">
                    <form action="http://localhost:51978/Eventos/Index"  method="get">
                        <select style="height: 3em; width: 9em;" id="busquedaCAT" name="Busqueda" class="buscarInput">
                        </select>
                        <button type="submit" class="btn btn-outline-secondary "><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <ul style="width: 10%; margin: auto" class="nav list" role="tablist">
                <li class="nav-item">
                    <a class="nav-link  btn btn-outline-secondary btn-sm active" data-toggle="tab" href="#textSearch" role="tab">Por texto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary btn-sm" data-toggle="tab" href="#catSearch" role="tab">Por Categoria</a>
                </li>

            </ul>
        </div>
        
        <div class="nav-body" id="linksToHeader">
            <a href="#" data-toggle="modal" data-target="#LgModal"> <h3 class="text-center" style="color: #fff">Iniciar Sesion</h3></a>
            <a href="#" data-toggle="modal" data-target="#registrateUSMO"> <h3 class="text-center" style="color: #fff">Registrate</h3></a>
            <a href="Usuarios/Calendarios" > <h3 class="text-center" style="color: #fff">Calendarios</h3></a>
        </div>
    </nav>

    @RenderBody()

    <hr />
    <footer>
        <p> &copy; @DateTime.Now.Year - Antonio Xocoy Rosales ☺ ☺ ☺</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>