﻿<div class="modal fade bd-example-modal-lg show" id="agEventMO" tabindex="-1" role="dialog" aria-labelledby="agEventMO" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Evento</h5>
                <button type="button" class="close" id="CloseAGEMO" onclick="clearInputs()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" data-bind="submit:agregarEve">
            <div class="modal-body">
                <div class="form-group">
                    <p class="text-center">Nombre del Evento</p>
                    <input type="text" data-bind="value: AGE.NombreEvento" id="NombreE" class="form-control" placeholder="Nombre del Evento" style="margin: 6px 4px" required/>
                    <p class="text-center">Lugar</p>
                    <input type="text" data-bind="value: AGE.Lugar" id="LugarE" class="form-control" placeholder="Lugar" style="margin: 6px 4px" required/>
                    <p class="text-center">Existencias</p>
                    <input type="number" data-bind="value: AGE.Existencias" id="ExistenciasE" class="form-control" placeholder="Existencias" style="margin: 6px 4px" required/>
                    <p class="text-center">Precio</p>
                    <input type="number" data-bind="value: AGE.Precio" step="0.01" id="PrecioE" class="form-control" placeholder="Precio del Ticket" style="margin: 6px 4px" required/>
                    <p class="text-center">¿Tendra promocion?, escribe el porcentaje de descuento, de no tener, dejalo en 0 </p>
                    <input type="number" data-bind="value: AGE.Promociones" id="PromoE" class="form-control" placeholder="Promocion (Si no tendra dejarlo en 0)" style="margin: 6px 4px" />
                    <p class="text-center">Tipo de Evento</p>
                    <select id="TipoE" class="form-control" data-bind="value: AGE.TipoEvento, options: tipoEventos, optionsText: 'TipoE'" style="margin: 6px 4px"></select>
                    <p class="text-center">Fecha</p>
                    <input type="date" class="form-control" data-bind="value: AGE.FechaEvento" required/>
                    <p class="text-center">Hora</p>
                    <input type="time" class="form-control" data-bind="value: AGE.Hora" required/>
                    <p class="text-center">Descuento</p>
                    <textarea data-bind="value: AGE.Descripcion" type="text" id="DescripcionE" class="form-control" placeholder="Descipcion del Evento" style="margin: 6px 4px" ></textarea>
                    <div id="ErrorLG"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="clearInputs()" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-info">Ingresar</button>
            </div>
            </form>
        </div>
    </div>
</div>