﻿<div class="modal fade" id="TypeAGMO" tabindex="-1" role="dialog" aria-labelledby="TypeAGMO" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Tipo de Personal</h5>
                <button type="button" id="closeAGTMO" data-bind="click: cancel" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-bind="submit: AGTP">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre del Tipo de Personal" data-bind="value: tipoP.NombreTipoP" style="margin: 4px 2px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bind="click: cancel" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>