﻿<div class="modal fade bd-example-modal-lg show" id="detaUSMO" tabindex="-1" role="dialog" aria-labelledby="detaUSMO" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: #009ded">Editar tu perfil uwu</h5>
                <button type="button" class="close" id="CloseAGEMO" onclick="clearInputs()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h5 class="text-center" style="float:left; color: #0094ff">ID: </h5><h5 class="text-center" data-bind="text: USS.UsuarioId"></h5>
                        <p class="text-center">Nombre: <span data-bind="text: USS.Nombre"></span></p>
                        <p class="text-center">Usuario: <span data-bind="text: USS.Nick"></span></p>
                        <p class="text-center">Contrasena: <span data-bind="text: USS.Contrasena"></span></p>
                        <p class="text-center">Edad: <span data-bind="text: USS.Edad"></span></p>
                        <p class="text-center">Telefono: <span data-bind="text: USS.Telefono"></span></p>
                        <p class="text-center">Email: <span data-bind="text: USS.Email"></span></p>
                        <p class="text-center">No.Tarjeta: <span data-bind="text: USS.NoTarjeta"></span></p>
                    </div>
                </div>
        </div>
    </div>
</div>