﻿<div class="modal fade bd-example-modal-lg show" id="edUserMO" tabindex="-1" role="dialog" aria-labelledby="edUserMO" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: #009ded">Editar tu perfil uwu</h5>
                <button type="button" class="close" id="CloseAGEMO"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" data-bind="submit: editarUS">
                <div class="modal-body">
                    <div class="form-group">
                        <h5 class="text-center" style="float:left; color: #0094ff">ID: </h5><h5 class="text-center" data-bind="text: USS.UsuarioId"></h5>
                        <p class="text-center">Nombre</p>
                        <input type="text" data-bind="value: USS.Nombre" id="NombreE" class="form-control"  style="margin: 6px 4px" required />
                        <p class="text-center">Usuario</p>
                        <input type="text" data-bind="value: USS.Nick" id="LugarE" class="form-control"  style="margin: 6px 4px" required />
                        <p class="text-center">Contrasena</p>
                        <input type="password" data-bind="value: USS.Contrasena" id="ExistenciasE" class="form-control"  style="margin: 6px 4px" required />
                        <p class="text-center">Edad</p>
                        <input type="number" data-bind="value: USS.Edad" step="0.01" id="PrecioE" class="form-control" style="margin: 6px 4px" required />
                        <p class="text-center">Telefono</p>
                        <input type="number" data-bind="value: USS.Telefono" id="PromoE" class="form-control" style="margin: 6px 4px" />
                        <p class="text-center">Email</p>
                        <input type="email" data-bind="value: USS.Email" id="PromoE" class="form-control" style="margin: 6px 4px" />
                        <p class="text-center">No.Tarjeta</p>
                        <input type="number" data-bind="value: USS.NoTarjeta" id="PromoE" class="form-control" style="margin: 6px 4px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>