﻿<div class="modal fade" id="TypeEDMO" tabindex="-1" role="dialog" aria-labelledby="TypeEDMO" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Editar Tipo</h5>
                <button type="button" id="closeEDMO" data-bind="click: cancel" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-bind="submit: AGT">
                <div class="modal-body">
                    <div class="form-group">
                        <h3>ID: <span data-bind="text: tipoP.TipoPersonalId"></span></h3>
                        <input type="text" class="form-control" placeholder="Nombre del Tipo" data-bind="value: tipoP.NombreTipoP" style="margin: 4px 2px" />
                        <input type="hidden" data-bind="value: tipoP.Type" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bind="click: cancel" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>