﻿<div class="modal fade " id="elEventMO" tabindex="-1" role="dialog" aria-labelledby="elEventMO" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Evento</h5>
                <button type="button" class="close" id="CloseEDIMO" data-bind="click: $root.cleanAGE" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" data-bind="submit: eliminarEve">
                <div class="modal-body">
                    <div class="form-group">

                        <h5 class="text-center" style="float:left; color: #0094ff">¿Decea eliminar el evento </h5><h5 class="text-center" data-bind="text: AGE.NombreEvento"></h5>
                        <p style="float:left;">Descripcion: </p><p data-bind="text: AGE.Descripcion">Nombre del Evento</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bind="click: $root.cleanAGE" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">Borrar</button>
                </div>
            </form>
        </div>
    </div>
</div>