﻿<div class="modal fade" id="TypeELMO" tabindex="-1" role="dialog" aria-labelledby="TypeELMO" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Editar Tipo</h5>
                <button type="button" id="closeELMO" data-bind="click: cancel" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-bind="submit: ELT">
                <div class="modal-body">
                    <div class="form-group">
                        <h3>ID: <span data-bind="text: tipoP.TipoPersonalId"></span></h3>
                        <h5 class="text-center" style="float:left; color: #0094ff">¿Decea eliminar el tipo <span data-bind="inst.NombreTipoP"></span></h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bind="click: cancel" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>