﻿<div class="modal fade" id="LgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesion</h5>
                <button type="button" class="close" id="CloseLGModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" id="UserLG" class="form-control" autocomplete="on" autofocus placeholder="Usuario" style="margin: 4px 2px" />
                    <input type="password" id="PassLG" class="form-control" placeholder="Contraseña" style="margin: 4px 2px" />
                    <div id="ErrorLG"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" data-bind="click: $root.ingresarLG" id="CloseLGModal" class="btn btn-info">Ingresar</button>
            </div>
        </div>
    </div>
</div>