﻿<div class="modal fade bd-example-modal-lg show" id="perEventMO" tabindex="-1" role="dialog" aria-labelledby="perEventMO" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edita tu Staf de Evento uwu</h5>
                <button type="button" class="close" id="CloseAGEMO" onclick="clearInputs()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <form action="#" class="form-inline" data-bind="submit: agregarPersonal">
                        <input type="text" data-bind="value: PEvent.NombrePersona" class="form-control" placeholder="Nombre" style="margin: 6px 4px" required />
                        <input type="number" data-bind="value: PEvent.PrecioPorHora" class="form-control" placeholder="Precio por Hora Q" style="margin: 6px 4px" required />
                        <select class="form-control" data-bind="value: PEvent.TipoPersonal , options: tipoP , optionsText: 'NombreTipoP'"></select>
                        <button type="submit" class="btn btn-info">Editar</button>
                    </form>
                    <table class="table table-hover table-bordered">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Nombre del Empleado</th>
                                <th>Nombre del Evento</th>
                                <th>Precio por Hora</th>
                                <th>Tipo de Personal</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: PEventos">
                            <tr>
                                <th data-bind="text: PersonalEventoId"></th>
                                <th data-bind="text: NombrePersona"></th>
                                <th data-bind="text: Evento.NombreEvento"></th>
                                <th data-bind="text: PrecioPorHora"></th>
                                <th data-bind="text: TipoPersonal.NombreTipoP"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>